{% extends "base.html" %}

{% block title %}URL Shortener - Log In{% endblock %}

{% block header %}{% endblock %}

{% block titleH1 %}{% endblock %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center">
  <div style="margin-top: 1em;">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
	<h1 class="display-5 fw-bold">URL Shortener - Login</h1>
	<div class="w-75">
	  <form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit" class="btn btn-primary btn-lg">Log In</button>  
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>

<script>
  $("form").each(function(){
      $(this).find(':input').addClass("form-control")
  });
</script>

{% endblock %}
