{% extends "shortener/base.html" %}

{% block title %}URL Shortener - Help{% endblock %}

{% block titleH1 %}Help{% endblock %}

{% block content %}
<div style="margin-top: 1em;">
  <h2>What is a URL Shortener?</h2>
  <p>It is a software for making a long URL shorter. For example, a URL like "https://very-very.long.url/with-many-many-levels" becomes something like "https://my-domain/q?asdasd1223ASD".</p>
  <h2>How to use it</h2>
  <p>I know, that short URL is hard to remember, thats why you should copy and paste it.</p>
  <h2>Why this?</h2>
  <p>Just for fun.</p>
</div>
{% endblock %}
