{% extends "base.html" %}
{# extends "shortener/base.html" #}

{% block title %}URL Shortener - Home{% endblock %}

{% block content %}
<div style="margin-top: 1em;">
  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addURLModal">Add URL</button>
</div>
<div style="margin-top: 1em;">
  <div id="tableContainer"></div>  
</div>
{% endblock %}


{% block modals %}
<!-- Add URL Modal -->
<div class="modal fade" id="addURLModal" tabindex="-1" aria-labelledby="addURLModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
 	<h1 class="modal-title fs-5" id="addURLModalLabel">Add URL</h1>
 	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<div class="" id="add_url_alerts" role="alert"></div>
	<form id="addURLForm" method="post" action="{% url 'urladdajax' %}">
	  {% csrf_token %}
	  {{ add_url_form }}
	  <br>
	  <button id="addURLSubmit" type="submit" class="btn btn-primary">Add URL</button>
	</form>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Stats Modal -->
<div class="modal fade" id="statsURLModal" tabindex="-1" aria-labelledby="statsURLModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
 	<h1 class="modal-title fs-5" id="StatsURLModalLabel">Statistics</h1>
 	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<div class="" id="stats_url_alerts" role="alert"></div>
	<div>Showing stats for <span id="URLStatsTxt"></span></div>
	<ul>
	  <li><b>Date added:</b>    <span id="URLStatsDateAdded"></span></li>
	  <li><b>Times visited:</b> <span id="URLStatsTimesVisited"></span></li>
	</ul>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete URL Modal -->
<div class="modal fade" id="deleteURLModal" tabindex="-1" aria-labelledby="deleteURLModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
 	<h1 class="modal-title fs-5" id="deleteURLModalLabel">Delete URL</h1>
 	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<div class="" id="delete_url_alerts" role="alert"></div>
	<p>¿Borrar la URL <span id="URLToDelete" data-urlid=""></span>?</p>
	<p>Se borrarán también las estadísticas relacionadas.</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
	<button onClick="deleteURL();" type="button" class="btn btn-danger">Borrar URL</button>
      </div>
    </div>
  </div>
</div>


<!-- Toast for copied URL -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success-subtle text-emphasis-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
	<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
	<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
      </svg>
      <strong class="me-auto"> URL Copied</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      URL Copied to clipboard.
    </div>
  </div>
</div>



<script>
  $("form").each(function(){
      $(this).find(':input').addClass("form-control")
  });
</script>

{% load static %}

<script>
  var urlDeleteAjax = '{% url "urldeleteajax" %}'
  var urlStatsAjax  = '{% url "urlstatsajax" %}'
  var urlAddAjax    = '{% url "urladdajax" %}'
  var loadURLAjax   = '{% url "loadurlsajax" %}'
</script>

<script src="{% static 'common.js' %}"></script>    
<script src="{% static 'url.js' %}"></script>
<script src="{% static 'react/react.js' %}"></script>
<script src="{% static 'react/react-dom.js' %}"></script>
<script src="{% static 'react/babel.js' %}"></script>

<script type="text/babel" src="{% static 'myTableURL.js' %}"></script>

{% endblock %}
