{% extends "base.html" %}
{# extends "shortener/base.html" #}

{% block title %}URL Shortener - Edit user{% endblock %}

{% block titleH1 %}URL Shortener - Edit user{% endblock %}

{% block content %}

<div style="margin-top: 1em;">
  <div class="w-50">
    <form method="post" action="{% url 'useredit' %}">
      {% csrf_token %}
      {{ form.as_div }}
      <button type="submit" class="btn btn-primary">Save User</button>
    </form>
  </div>
</div>


<script>
  $("form").each(function(){
      $(this).find(':input').addClass("form-control")
  });
</script>

{% endblock %}

