{% extends "shortener/base.html" %}

{% block content %}

<form method="post" action="{% url 'useradd' %}">
{% csrf_token %}
  <!-- <div> -->
  <!--   <label class="form-username-label" for="username">Username: </label> -->
  <!--   <input type="text" class="form-username-input" id="username"> -->
  <!-- </div> -->
  <!-- <div> -->
  <!--   <label class="form-password-label" for="password">Password: </label> -->
  <!--   <input type="password" class="form-password-input" id="password"> -->
  <!-- </div> -->
{{ form }}
<button type="submit" class="btn btn-primary">Add User</button>
</form>

{% endblock %}
