{% extends "base.html" %}
{# extends "shortener/base.html" #}

{% block title %}URL Shortener - List of users{% endblock %}

{% block titleH1 %}URL Shortener - List of users{% endblock %}

{% block content %}
<div style="margin-top: 1em;">
	<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</button>  
</div>
<div style="margin-top: 1em;">

  <div id="tableContainer"></div>

</div>
{% endblock %}


{% block modals %}

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
 	<h1 class="modal-title fs-5" id="addUserModalLabel">Add User</h1>
 	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<div class="" id="add_user_alerts" role="alert"></div>
	<form id="addUserForm" method="post" action="{% url 'useraddajax' %}">
	  {% csrf_token %}
	  {{ add_user_form.as_p }}
	  <br>
	  <button id="addUserSubmit" type="submit" class="btn btn-primary">Add User</button>
	</form>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordUserModal" tabindex="-1" aria-labelledby="changePasswordUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
 	<h1 class="modal-title fs-5" id="changePasswordUserModalLabel">Change password</h1>
 	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<div class="" id="change_password_alerts" role="alert"></div>
	<form action="{% url 'userchangepwajax' %}" method="post" id="changeUserPasswordForm">
	  <input type="hidden" name="id" id="UserChangePassword">
	  <div>
	    <label class="form-password-label" for="password1">Password: </label>
	    <input type="password" class="form-password-input" id="password1">
	  </div>
	  <div>
	    <label class="form-password-label" for="password2">Repeat password: </label>
	    <input type="password" class="form-password-input" id="password2">
	  </div>
	</form>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	<button id="changePasswordSubmit" type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete User Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
 	<h1 class="modal-title fs-5" id="deleteUserModalLabel">Delete User</h1>
 	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<div class="" id="delete_user_alerts" role="alert"></div>
	<p>Delete user <span id="UserToDelete" data-user-id=""></span>?</p>
	<p>All related URLs and stats will be deleted, too.</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
	<button onClick="deleteUser();" type="button" class="btn btn-danger">Delete user</button>
      </div>
    </div>
  </div>
</div>


<!-- Toast for toggle user admin -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header" id="toggleUserTitle">
      <strong class="me-auto"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toggleUserBody"></div>
  </div>
</div>


<script>
  $("form").each(function(){
      $(this).find(':input').addClass("form-control")
  });
</script>


{% load static %}

<script>
  var userDeleteAjax = '{% url "userdeleteajax" %}'
  var userChangePWAjax  = '{% url "userchangepwajax" %}'
  var userAddAjax    = '{% url "useraddajax" %}'
  var userToggleAjax    = '{% url "usertoggleajax" %}'
  var loadUsersAjax   = '{% url "loadusersajax" %}'
</script>
<script src="{% static 'common.js' %}"></script>    
<script src="{% static 'user.js' %}"></script>
<script src="{% static 'react/react.js' %}"></script>
<script src="{% static 'react/react-dom.js' %}"></script>
<script src="{% static 'react/babel.js' %}"></script>
<script type="text/babel" src="{% static 'myTableUser.js' %}"></script>

{% endblock %}
