{% extends "shortener/base.html" %}

{% block title %}URL Shortener - List of users{% endblock %}

{% block titleH1 %}URL Shortener - List of users{% endblock %}

{% block content %}
<div style="margin-top: 1em;">
	<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</button>  
</div>
<div style="margin-top: 1em;">
  {% if users %}  
  <table class="table table-striped">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nombre de usuario</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
    {% for aUser in users %}
    <tr>
      <td>{{ aUser.name }}</td>
      <td>{{ aUser.lastname }}</td>
      <td>{{ aUser.username }}</td>
      <td>{{ aUser.email }}</td>
      <td>
	<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#toggleAdmin">Hacer admin</button>			<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#changePasswordUserModal">Cambiar clave</button>  
	<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Borrar</button>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="alert alert-warning" role="alert">
  Aún no hay Usuarios cargados.
  </div>
  {% endif %}  
</div>
{% endblock %}


{% block modals %}

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<h1 class="modal-title fs-5" id="addUserModalLabel">Add User</h1>
 				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
 			<div class="modal-body">
			  <div class="" id="add_user_alerts" role="alert"></div>
			  <form id="addUserForm" method="post" action="{% url 'useraddajax' %}">
			    {% csrf_token %}
			    {{ add_user_form }}
			    <button id="addUserSubmit" type="submit" class="btn btn-primary">Add User</button>
			  </form>
			</div>
 			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordUserModal" tabindex="-1" aria-labelledby="changePasswordUserModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<h1 class="modal-title fs-5" id="changePasswordUserModalLabel">Change password</h1>
 				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
 			<div class="modal-body">
				<form>
					<div>
						<label class="form-password-label" for="password1">Clave: </label>
						<input type="psasword" class="form-password-input" id="password1">
					</div>
					<div>
						<label class="form-password-label" for="password2">Repetir Clave: </label>
						<input type="psasword" class="form-password-input" id="password2">
					</div>
				</form>
			</div>
 			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Change Password</button>
			</div>
		</div>
	</div>
</div>


<!-- Delete URL Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<h1 class="modal-title fs-5" id="deleteUserModalLabel">Delete User</h1>
 				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
 			<div class="modal-body">
				<p>¿Borrar el usuario?</p>
				<p>Se borrarán también las URLS y estadísticas relacionadas.</p>
			</div>
 			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary">Borrar Usuario</button>
			</div>
		</div>
	</div>
</div>




<script>  
  $(document).ready(function(){

      // Evitamos que se recargue la pagina
      $("#addUserForm").submit(function(e){
            e.preventDefault();
      });

      // Configuramos el envio por AJAX.
      // Tener en cuenta que hay que copiar el token CSRF.
      $('#addUserSubmit').click(function(e){
          $.ajax({
              url: '{% url "useraddajax" %}',
              type: 'post',
              data: {
		  'username': $("#id_username").val(),
		  'email': $("#id_email").val(),
		  'password1': $("#id_password1").val(),
		  'password2': $("#id_password2").val(),
		  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
	      },
              success: function(response){
                  $('#alerts').html(response.success);
		  $('#alerts').addClass("alert alert-success");
		  // TODO: recargar la tabla con Users
                  $('#addUserModal').modal('hide'); 
              },
	      error: function(response){
		  msg = "<ul>"
		  // TODO: mostrar el campo problematico junto con el error. Ej.: Username: algun error.
		  for (let anError in response.responseJSON.error) {
		      for (var i = 0; i < response.responseJSON.error[anError].length; i++) {
			  msg += "<li>" + response.responseJSON.error[anError][i] + "</li>"
		      }
		  }
		  msg += "</ul>"
		  $('#add_user_alerts').html(msg);
		  $('#add_user_alerts').addClass("alert alert-danger");
	      }
          });
      });

      // Cuando el modal se cierra, se borran los datos, las clases y mensajes.
      $('#addUserModal').on('hidden.bs.modal', function () {
	  $("#id_username").val('');  
	  $("#id_email").val('');  
	  $("#id_password1").val('');
	  $("#id_password2").val('');
	  $('#add_user_alerts').html('');
	  $('#add_user_alerts').removeClass();
      });
      
  });  
</script>


{% endblock %}
